<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="icon" type="image/x-icon" href="../static/img/icon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&family=Nixie+One&family=Tangerine&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/static/style.css" />
    <title>Teodora Nails</title>
  </head>
  <body>
    <header id="header">
      <a href="#gallery" class="nav">Galerija</a>
      <a href="#main-section" class="header-h1">Teodora Nails</a>
      <a href="#contact-section" class="nav">Kontakt</a>
    </header>

    <section id="main-section">
      <div class="text">
        <h1 class="section-h1">Nokti o kojima ste sanjali</h1>

            <p class="section-p">
                Vidimo se u Beogradu <br> sa nezaboravnom uslugom.
            </p>
            <a href="#" class="btn"></a>
        </div>
        <a href="#" class="btn"></a>
      </div>
    </section>


    <section id="gallery">

        <h1 class="gallery-h1">
            Galerija
        </h1>

        <div class="container">

            <img class="img-nails" src="../static/img/1.jpg" alt="Nokti">
            <img class="img-nails" src="../static/img/2.jpg" alt="Nokti">
            <img class="img-nails" src="../static/img/3.jpg" alt="Nokti">
            <img class="img-nails" src="../static/img/4.jpg" alt="Nokti">
            <img class="img-nails" src="../static/img/5.jpg" alt="Nokti">
            <img class="img-nails" src="../static/img/6.jpg" alt="Nokti">
            <img class="img-nails" src="../static/img/8.jpg" alt="Nokti">
            <img class="img-nails" src="../static/img/9.jpg" alt="Nokti">

        </div>



    </section>


    <section id="contact-section">
      <h2>Noktakt</h2>
      <form action="/" method="post">
        <div class="form-items">
          <input placeholder="Ime" type="text" name="name" id="name" />
          <input placeholder="Email" type="text" name="email" id="email" />
          <input
            placeholder="Broj telefona"
            type="text"
            name="phone-number"
            id="phone-number"
          />
          <br />
          <input id="main-btn" type="submit" value="Zakazi" />
        </div>
      </form>
    </section>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src="/static/script.js"></script>


    <footer>
        <p class="footer-info">TeodoraNails ® 2022 </p>
        <a target="_blank" href="https://instagram.com/teodoraa.nailsss"><img class="social" src="../static/img/instagram.png" alt="insta-icon"></a>
    </footer>

  </body>
</html>
